@import "../../index.scss";

/* about */
.about {
  .aboutContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 5rem;

    .aboutContainerImg {
      width: 350px;
      height: 600px;
      background: url(../../assets/about-backgroun.png) no-repeat center / cover;    
    }

    .aboutContainerDetails {
      width: 450px;
      text-align: center;
      background-color: var(--white);
      border-radius: 3rem;
      box-shadow: 0rem 0.44rem 1.81rem 0rem rgba(100, 100, 111, 0.2);

      & h1 {
        font-size: 3rem;
        color: var(--primary-color);
        margin: 5rem 3rem 2rem 3rem;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p {
        font-size: 1.7rem;
        color: var(--grey);
        margin: 5rem 3rem 2rem 3rem;

        @include respond(phone) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .aboutContainerImg {
    max-height: 250px;
  }
}
