@import "../../index.scss";

/* Product */
.ProductContainer {
  height: 100%;

  .ProductCard {
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 5rem;
    display: flex;
    align-items: center;

    @include respond(phone) {
      padding: 2rem;
      position: relative;
    }

    .ProductCardImg {
      width: 60%;
      height: 75%;
      border-radius: 3rem;

      @include respond(phone) {
        width: 100%;
        height: 45%;
      }
    }

    .ProductCardDetails {
      width: 40%;
      height: 50%;
      text-align: center;
      background-color: var(--white);
      border-radius: 3rem;
      transform: translateX(-5rem);
      box-shadow: 0rem 0.44rem 1.81rem 0rem rgba(100, 100, 111, 0.2);

      @include respond(phone) {
        position: absolute;
        top: 7.4rem;
        right: -4rem;
        width: 200px;
        height: 260px;
      }

      & h3 {
        font-size: 2rem;
        margin-top: 1rem;
        padding: 1rem;
        color: var(--primary-color);

        @include respond(phone) {
          font-size: 2.1rem;
        }
      }

      & p {
        font-size: 1.7rem;
        color: var(--grey);
        margin: 2rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        @include respond(phone) {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }
  }
}
