@import "../../index.scss";
/* home */
.home {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6rem;
}

.home .content h3 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 2px 3px #555;
}

.home .content p {
  font-size: 1.7rem;
  color: #000;
  padding: 1rem 0;
}

.home .image {
  flex: 1 1 25rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  color: #000;
  background-color: #c7eef5;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #2a2a2a;
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}
