@import "../../index.scss";
@import "../../App.scss";

/* home */
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  flex: 1 1 40rem;
  padding: 6rem;
}

.home .content h3 {
  font-size: 5rem;
  color: #11c900;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 0 1px 3px #098c0d;
  text-align: center;
  padding: 3rem;
}

.home .content p {
  font-size: 2rem;
  font-weight: 600;
  font-family: cursive;
  color: --secon-color;
  padding: 1rem;
}

.home .image {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
}

.home .image img {
  width: 70%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  border-radius: 5em;
  width: 30%;
  margin: auto;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  box-shadow: 6px 6px 12px #4f4f4f, -6px -6px 12px #ffffff;
}

.btn::before {
  content: "";
  width: 0;
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #f9f047 0%, #0fd850 100%);
  transition: 0.6s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: #fff;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}

@media (max-width: 900px) {
  .btn {
    margin-top: 2rem;
    width: 70%;
    font-size: 2.4rem;
  }

  .home .content p {
    font-size: 2.5rem;
    text-align: center;
    
  }
}
