@import "../../index.scss";

.footer {
  margin-top: 4rem;

  .footerContainer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond(phone) {
      justify-content: center;
      padding: 3rem 1rem;
    }

    .footerInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & h1 {
        font-size: 2.5rem;
        color: var(--primary-color);
        margin-bottom: 1rem;
        @include respond(phone) {
          font-size: 3.2rem;
        }
      }
      & p {
        font-size: 1.7rem;
        color: rgb(206, 206, 206);
        margin-bottom: 0.7rem;
        font-weight: 600;

        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }
  }
  .footerSocial {
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      margin-bottom: 4rem;
    }
    img {
      width: 150px;

      @include respond(phone) {
        width: 60%;
      }
    }

    .iconContainer {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
      list-style-type: none;
      @include respond(phone) {
        font-size: 4rem;
      }
    }
    .icon {
      cursor: pointer;
      padding: 0.7rem 0.8rem;
      border-radius: 1rem;
    }

    .whats {
      color: green;
      &:hover {
        background: linear-gradient(
          90deg,
          rgb(117, 242, 140) 0%,
          rgb(3, 119, 24) 100%
        );

        > i {
          color: #fff;
        }
      }
    }

    .insta {
      color: #bc2a8d;

      &:hover {
        background: linear-gradient(
          90deg,
          rgb(197, 197, 197) 0%,
          rgb(214, 29, 192) 100%
        );

        > i {
          color: #fff;
        }
      }
    }

    .facebook {
      color: #0072b1;
      &:hover {
        background: linear-gradient(
          90deg,
          rgb(124, 163, 236) 0%,
          rgb(36, 58, 221) 100%
        );

        > a {
          color: #fff;
        }
      }
    }
  }

  .license {
    font-size: 1.6rem;
    color: rgb(206, 206, 206);
    text-align: center;
    align-items: center;
    font-weight: 600;
    padding-bottom: 1rem;

    @include respond(phone) {
      padding-bottom: 7rem;
      font-size: 2rem;
    }
  }
}
