@import "../../index.scss";

.footer {
  border: 1px solid red;
  .footerContainer {
    border: 1px solid red;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    @include respond(phone) {
      justify-content: center;
      padding: 3rem 1rem;
    }

    .footerInfo {
      & h1 {
        font-size: 2rem;
        color: var(--white);
        margin-bottom: 1rem;
      }
      & p {
        font-size: 1.6rem;
        color: rgb(216, 216, 216);
        margin-bottom: 0.5rem;
        cursor: pointer;
      }
      @include respond(phone) {
        margin-bottom: 2rem;
        width: 50%;
      }
    }
  }
  .footerSocial {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;

    @include respond(phone) {
      padding-bottom: 7rem;
    }
  }

  .footerForm{
    display: flex;
  }
  .license {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;

    @include respond(phone) {
      padding-bottom: 7rem;
    }
  }
}
