@import "../../index.scss";

.footer {
  border: 1px solid red;
  margin-top: 10rem;

  .footerContainer {
    border: 1px solid red;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;

    @include respond(phone) {
      justify-content: center;
      padding: 3rem 1rem;
      flex-direction: row-reverse;
    }

    .footerInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & h1 {
        font-size: 2.5rem;
        color: var(--primary-color);
        margin-bottom: 1rem;
      }
      & p {
        font-size: 1.7rem;
        color: rgb(216, 216, 216);
        margin-bottom: 0.7rem;
      }
      @include respond(phone) {
        margin-bottom: 2rem;
        width: 50%;
      }
    }
  }
  .footerSocial {
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      padding-bottom: 7rem;
    }
    img {
      width: 150px;
    }

    .iconContainer {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
      list-style-type: none;
    }
    .icon {
      cursor: pointer;
      padding: 0.7rem 0.8rem;
      border-radius: 1rem;
    }

    .whats {
      color: green;
      &:hover {
        background: linear-gradient(
          90deg,
          rgb(117, 242, 140) 0%,
          rgb(3, 119, 24) 100%
        );

        > i {
          color: #fff;
        }
      }
    }

    .insta {
      color: #bc2a8d;

      &:hover {
        background: linear-gradient(
          90deg,
          rgb(197, 197, 197) 0%,
          rgb(214, 29, 192) 100%
        );

        > i {
          color: #fff;
        }
      }
    }

    .facebook {
      color: #0072b1;
      &:hover {
        background: linear-gradient(
          90deg,
          rgb(124, 163, 236) 0%,
          rgb(36, 58, 221) 100%
        );

        > a {
          color: #fff;
        }
      }
    }
  }

  .footerForm {
    display: flex;
  }
  .license {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;

    @include respond(phone) {
      padding-bottom: 7rem;
    }
  }
}
