@import "../../index.scss";

.footer {
  border: 1px solid red;
  margin-top: 10rem;
  .footerContainer {
    border: 1px solid red;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    @include respond(phone) {
      justify-content: center;
      padding: 3rem 1rem;
      flex-direction: row-reverse;
    }

    .footerInfo {
      & h1 {
        font-size: 2rem;
        color: var(--white);
        margin-bottom: 1rem;
      }
      & p {
        font-size: 1.6rem;
        color: rgb(216, 216, 216);
        margin-bottom: 0.5rem;
      }
      @include respond(phone) {
        margin-bottom: 2rem;
        width: 50%;
      }
    }
  }
  .footerSocial {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem; 
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      padding-bottom: 7rem;
    }
    img {
      width: 150px;
    }

    .iconContainer {
      border: 1px solid red;
      display: flex;
      justify-content: center;
      gap: 2rem;
      list-style-type: none;
      width: 100px;
    }
  }

  .icon {
    cursor: pointer;
  }

  .footerForm {
    display: flex;
  }
  .license {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;

    @include respond(phone) {
      padding-bottom: 7rem;
    }
  }
}
