@import "../../index.scss";

/* testimonials */
.testimonialsHeader {
  
  text-align: center;
  font-size: 3.5rem;
  color: var(--primary-color);
  margin-top: 5rem;


  @include respond(phone) {
    font-size: 2.5rem;
  }

  &::after {
    content: "";
    display: block;
    margin: 1rem auto;
    height: 0.3rem;
    width: 7rem;
    background: var(--primary-color);
  }
}

.testimonialsAll {
  width: 100%;
  margin: 9rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;


  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
  }

  .testimonialsDetails {
    background-color: var(--white);
    width: 25%;
    height: 30rem;
    position: relative;
    border-radius: 5rem;
    box-shadow: 0rem 0.44rem 1.81rem 0rem rgba(100, 100, 111, 0.2);
    transition: 0.3s;
    border-bottom: 3px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);

    @include respond(phone) {
      width: 60%;
      margin-bottom: 5rem;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(14, 30, 37, 0.12),
        0rem 0.125rem 1rem 0rem rgba(14, 30, 37, 0.32);

      @media only screen and (max-width: 600px), only screen and (hover: none) {
        transform: none;
      }
    }

    & img {
      position: absolute;
      top: -5rem;
      left: calc(50% - 5rem);
      width: 10rem;
      height: 10rem;
      border: 0.5rem solid rgb(224, 222, 222);
      border-radius: 50%;
    }

    & h1 {
      text-align: center;
      margin-top: 30%;
      font-size: 2rem;
      color: var(--grey);
    }

    & p {
      text-align: center;
      padding: 2rem;
      font-size: 1.5rem;
      color: black;
    }
  }
}
.testimonialsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  border-radius: 5em;
  width: 30%;
  margin: auto;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  box-shadow: 6px 6px 12px #4f4f4f, -6px -6px 12px #ffffff;
}

.testimonialsBtn::before {
  content: "";
  width: 0;
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #f9f047 0%, #0fd850 100%);
  transition: 0.6s ease;
  display: block;
  z-index: -1;
}

.testimonialsBtn:hover::before {
  width: 100%;
}

.testimonialsBtn:hover {
  color: #fff;
}

@media (max-width: 900px) {
  .testimonialsBtn {
    margin-top: 2rem;
    width: 70%;
    font-size: 2.4rem;
  }
}
