@import "../../index.scss";

/* testimonials */
.testimonials {
  margin-bottom: 3rem;
}

.testimonialsHeader {
  text-align: center;
  font-size: 3.5rem;
  color: var(--primary-color);
  margin-top: 3rem;

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &::after {
    content: "";
    display: block;
    margin: 1rem auto;
    height: 0.3rem;
    width: 7rem;
    background: var(--primary-color);
  }
}

.slick-slider {
  margin-bottom: 7rem;
  margin-top: 7rem;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1.2rem;
}

.slick-dots {
  list-style: none;
  margin: auto;
  width: 20%;
}

.slick-dots li {
  margin: 0 25px;
  display: inline-block;
}

.slick-dots button {
  font-size: 0;
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slick-dots .slick-active button {
  background-color: var(--primary-color);
  border: none;
}
.starRating {
  color: #ffd700;
}

.star {
  font-size: 20px;
}

.cardTestimonials {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
  height: 30rem;
  position: relative;
  border-radius: 5rem;
  box-shadow: 0rem 0.44rem 1.81rem 0rem rgba(100, 100, 111, 0.2);
  transition: 0.3s;
  border-bottom: 3px solid var(--primary-color);
  border-top: 3px solid var(--primary-color);

  @include respond(phone) {
    width: 60%;
    margin-bottom: 5rem;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(14, 30, 37, 0.12),
      0rem 0.125rem 1rem 0rem rgba(14, 30, 37, 0.32);
  }
  .cardImg {
    width: 8rem;
    height: 8rem;
    border: 0.3rem solid rgb(224, 222, 222);
    border-radius: 50%;
  }

  .cardName {
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--grey);
  }

  .cardText {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
  }
}

.testimonialsBtn {
  display: flex;
  justify-content: center;
  width: 13%;
  padding: 0.9em 2.3em;
  cursor: pointer;
  margin: auto;
  gap: 0.5rem;
  border-radius: 15rem;
  font-weight: 700;
  font-size: 1em;
  border-bottom: 2px solid var(--color-blue);
  border-top: 2px solid var(--color-blue);
  font-size: 0.9rem;
  color: #000000;
  background-image: linear-gradient(45deg, transparent 50%, #004fd6 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.testimonialsBtn:hover {
  color: #ffffff;
  background-position: 100%;
  .iconTestimonials {
    color: #ffffff;
  }
}
.iconTestimonials {
  color: #004fd6;
}

@media (max-width: 900px) {
  .testimonialsBtn {
    margin-top: 2rem;
    width: 40%;
    font-size: 1.4rem;
  }

  .slick-dots li {
    margin: 0 5px;
    display: inline-block;
  }
}
