@import "./index.scss";

:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}

/* re usable class */

.container {
  margin: auto;
  max-width: 150rem;

  @include respond(phone) {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.colorGrey {
  color: var(--grey);
}

.bgImg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
}

.Top-of-the-page {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  width: 5rem;
  height: 4rem;
  cursor: pointer;
  color: var(--primary-color);
  z-index: 10;

  @include respond(phone) {
    bottom: 11rem;
    right: 1rem;
  }
}
